@font-face {
  font-family: "fontMedium";
  src: url("../../fonts/fontMedium.otf") format("truetype");
}

.content-background {
  background-image: url("./content-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-container {
  background-image: url("./content.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 500px;
  height: 600px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.textbox1 {
  width: 180px;
  height: 220px;
  margin-top: 30px;
  margin-left: 50px;
  background-color: transparent;
  border: none;
}

.textbox1::placeholder {
  color: black;
}

.row1 {
  display: flex;
  flex-direction: row;
  width: 480px;
  height: 210px;
  margin-left: 50px;
  padding: 5px;
}

.textbox2 {
  width: 220px;
  height: 200px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

.textbox2::placeholder {
  color: white;
}

.row2 {
  display: flex;
  flex-direction: row;
  width: 480px;
  height: 210px;
  margin-top: 10px;
  margin-left: 50px;
  padding: 5px;
}

.textbox3 {
  width: 220px;
  height: 200px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
}

.textbox3::placeholder {
  color: white;
}

.textbox1,
.textbox2,
.textbox3 {
  font-size: 24px;
  font-family: "fontMedium", sans-serif;
}

.box1sticker1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 348%;
  left: 43%;
  /* top: 2300px;
  left: 500px; */
  z-index: 1;
}

.box1sticker2 {
  width: 80px;
  height: 100px;
  position: absolute;
  top: 349%;
  left: 62%;
  /* top: 2300px;
  left: 710px; */
}

.box1sticker3 {
  width: 80px;
  height: 70px;
  position: absolute;
  top: 352%;
  left: 48%;
  /* top: 2330px;
  left: 560px; */
  z-index: 0;
}

.box2sticker1 {
  width: 150px;
  height: 120px;
  position: absolute;
  top: 372%;
  left: 59%;
  /* top: 2480px;
  left: 665px; */
}

.box2sticker2 {
  width: 200px;
  height: 60px;
  position: absolute;
  top: 380%;
  left: 53%;
  /* top: 2540px;
  left: 590px; */
}

@media (min-width: 2200px) {
  .content-container {
    width: 750px;
    height: 1000px;
  }
}
