.poster-background {
  background-image: url("./poster-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stage-container {
  background-image: url("./poster.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 645px;
  margin-top: 100px;
}

@media (min-width: 2200px) {
  .stage-container {
    width: 800px;
    height: 1000px;
  }
}
