.poster-background {
  background-image: url("./posterpage-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 120vh;
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 1176px;
  height: 672px;
  margin-top: 300px; */
}

.stage-container {
  background-image: url("./poster.png");
  background-size: cover;
  width: 430px;
  height: 550px;
  /* margin-top: 120px;
  margin-left: 370px; */
}
