.poster-background {
  background-image: url("./posterpage-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: 300px;
  display: block; /* Set images as block elements to remove any remaining gaps */
}
