.main-background {
  background-image: url('./mainpage-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: block; /* Set images as block elements to remove any remaining gaps */
}